.direnv
.pre-commit-config.yaml
systems/**/**/extra-files/persistent/etc/ssh/**
!systems/**/**/extra-files/persistent/etc/ssh/
!systems/**/**/extra-files/persistent/etc/ssh/.gitkeep
systems/**/**/pass-zpool-*
